@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --azul: #346daf;
    --verde: #43db3b;
    --marrom: #533A19;
}

body {
    color: dark;
    background-color: var(--azul);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--verde);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo {
    height: 40px;
    border-radius: 100px;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;

}

.navigation ul li a {
    color: var(--marrom);
    font-size: 12px;
    font-weight: 500;
    transition: all 0.5s;

}

.navigation ul li :hover {
    color: var(--azul);
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: white;
    margin: 5px auto;
    transition: all 0, 3s;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.home-text {
    max-width: 37rem;
}

.home-text .texth4 {
    font-size: 1.5rem;
    color: var(--marrom);
    margin-bottom: 1rem;

}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p {
    margin-bottom: 4rem;


}


.home-btn {
    padding: 15px 45px;
    background: var(--verde);
    color: white;
    border-radius: 10px;
    font-weight: 7oo;
    transition: all 0.5s;

}

.home-btn:hover {
    background: var(--marrom);
}

.home-img img {

    width: 100%
}
.home-baixo{

    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
   margin-top: 32rem;
   flex-direction: column;
}
.home-baixo img h1 p{
   
    flex-direction: column;
   justify-content: center;
    align-items: center;
        
    
}
section .home-baixo img{
    align-items: center;
    height: 400px; 
   


}
footer{

    color: var(--verde);
    height: 100px;
    background-color: var(--verde);
   
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
footer span  {
    color: white;
    align-items: center;
}
@media (max-width:785px) {
    .navigation {
        padding: 18px 20px;

    }

    .menu {
        display: block
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    .menu.ativo .bar:nth-child(2){

        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px)rotate(-45deg);

    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: white;
        gap: -10px;
        transition: 0.3s;
        justify-content: center;


    }
    .nav-menu.ativo{
        right:0;
    }

    .nav-item {
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding:100px 2% ;
        flex-direction: column;
        text-align: center;
        gap: 5rem;


    }
    .home .text-h4{
        font-size: 15px;

    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;

    }
    .home p{
        font-size: 15px;
    }
    .home-baixo {
        text-align: center;
        flex-direction: column;
       justify-content: center;
        gap:5px ;
        margin-bottom: 48rem;
        
    }
    footer{       
        bottom: 0;
    }
   
   
   

   
 
  


  
}































